.main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    height: 100vh;
}

.page-container {
    width: 370px;
    /* height: 326px; */
    padding: 12px 22px;
    box-shadow: 0px 0px 4px 0px #1414141A;
    box-shadow: 0px 8px 15px 0px #1414141F;
    border-radius: 6px;
    border: 1px solid #EEEEEE;
}

.page-header,
.page-wrapper {
    display: flex;
    justify-content: space-between;
}

.page-footer {
    margin: 15px 0;
}

/* Check box css*/

/* The container */
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    border: 1px solid #CDCDCD;
    /* background-color: #eee; */
    border-radius: 6px;
}


/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkmark {
    /* background-color: #ccc; */
    border: 1px solid #BDBDBD;
}

/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked~.checkmark {
    background-color: #2469F6;
}
.checkbox-container input:checked~.checkmark:hover {
    background-color: #5087F8;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the checkmark when checked */
.checkbox-container input:checked~.checkmark:after {
    display: block;
    border: 1px solid #fff;
}


/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
    left: 9px;
    top: 2px;
    width: 6px;
    height: 16px;
    border: solid white;
    border-width: 0px 0.7px 0.7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*Not checked hover state*/
.checkbox-container:hover input~.checkmark:after {
    display: block;
}


.checkbox-container:hover .checkmark:after {
    left: 9px;
    top: 2px;
    width: 6px;
    height: 16px;
    border: 1px solid #878787;
    border-width: 0px 0.7px 0.7px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}


.page-wrapper {
    cursor: pointer;
}

.done-btn {
    width: 100%;
    height: 40px;
    background-color: #FFCE22;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 10px 15px;
    cursor: pointer;
}

.done-btn:hover {
    background-color: #FFD84D;
}

.btn-disabled{
    background-color: #fef0bb;
    cursor: no-drop;
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 50px;
    aspect-ratio: 1;
    border-radius: 50%;
    padding: 6px;
    background:
      conic-gradient(from 135deg at top,currentColor 90deg, #0000 0) 0 calc(50% - 4px)/17px 8.5px,
      radial-gradient(farthest-side at bottom left,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) top right/50%  50% content-box content-box,
      radial-gradient(farthest-side at top        ,#0000 calc(100% - 6px),currentColor calc(100% - 5px) 99%,#0000) bottom   /100% 50% content-box content-box;
    background-repeat: no-repeat;
    animation: l11 1s infinite linear;
  }
  @keyframes l11{ 
    100%{transform: rotate(1turn)}
  }